set timeout=5
set default=0

menuentry "PandaOS" {
    linux /kernel/vmlinuz console=ttyS0,115200 console=tty0 quiet
    initrd /kernel/initramfs.gz
    boot
}

menuentry "PandaOS (Debug)" {
    linux /kernel/vmlinuz console=ttyS0,115200 console=tty0
    initrd /kernel/initramfs.gz
    boot
}

